#h1-L4 {
    top: 166px;
	left: 179.8000030517578px;
	width: 62px;
	height: 25px;
}

#h2-L4 {
    top: 167px;
	left: 289.8000030517578px;
	width: 61px;
	height: 23px;
}

#h3-L4 {
	top: 218px;
	left: 175.8000030517578px;
	width: 67px;
	height: 23px;
}

#h4-L4 {
    top: 218.39999389648438px;
	left: 290.8000030517578px;
	width: 60px;
	height: 21px;
}

#h5-L4 {
    top: 304.8000030517578px;
	left: 179.8000030517578px;
	width: 64px;
	height: 22px;
}

#h6-L4 {
    top: 300.8000030517578px;
	left: 289.8000030517578px;
	width: 62px;
	height: 24px;
}

#h7-L4 {
    top: 351.8000030517578px;
	left: 176.8000030517578px;
	width: 65px;
	height: 25px;
}

#h8-L4 {
    top: 353.8000030517578px;
	left: 287.8000030517578px;
	width: 66px;
	height: 23px;
}

#h9-L4 {
    top: 525.8000030517578px;
	left: 177.8000030517578px;
	width: 63px;
	height: 20px;
}

#h10-L4 {
    top: 524.8000030517578px;
	left: 288.8000030517578px;
	width: 61px;
	height: 23px;
	
}

#h11-L4 {
    top: 610.8000030517578px;
	left: 176.8000030517578px;
	width: 64px;
	height: 21px;
	
}

#h12-L4 {
    top: 611.8000030517578px;
	left: 289.8000030517578px;
	width: 61px;
	height: 21px;
}

#r401K {
    top: 135.8000030517578px;
	left: 29.800003051757812px;
	width: 121px;
	height: 178px;
}
#r401J {
    top: 314.8000030517578px;
	left: 34.80000305175781px;
	width: 116px;
	height: 92px;
}
#r401L {
    top: 406.8000030517578px;
	left: 36.80000305175781px;
	width: 115px;
	height: 99px;
	
}
#r401H {
    top: 570.8000030517578px;
	left: 35.80000305175781px;
	width: 115px;
	height: 76px;
}
#r401G {
    top: 652.8000030517578px;
	left: 35.80000305175781px;
	width: 113px;
	height: 75px;
}
#r401A {
    top: 190.8000030517578px;
	left: 393.8000030517578px;
	width: 115px;
	height: 82px;
}
#r401B {
    top: 273.8000030517578px;
	left: 393.8000030517578px;
	width: 115px;
	height: 81px;
}
#r401C {
    top: 355.8000030517578px;
	left: 394.8000030517578px;
	width: 113px;
	height: 79px;
}
#r401D {
    top: 435.8000030517578px;
	left: 395.8000030517578px;
	width: 111px;
	height: 80px;
	
}
#r401E {
    top: 515.8000030517578px;
	left: 394.8000030517578px;
	width: 111px;
	height: 79px;
}
#r401F {
    top: 596.8000030517578px;
	left: 393.8000030517578px;
	width: 114px;
	height: 80px;
}
#r405 {
    top: 154.39999389648438px;
	left: 824.8000030517578px;
	width: 118px;
	height: 113px;
}
#r406 {
    top: 154.8000030517578px;
	left: 942.8000030517578px;
	width: 82px;
	height: 114px;
}
#r407 {
    top: 156.8000030517578px;
	left: 1025.8000030517578px;
	width: 76px;
	height: 113px;
}