#h1-L3 {
    top: 296.26666259765625px;
	left: 420.56666564941406px;
	width: 40px;
	height: 40px;
}

#h2-L3 {
    top: 199.26666259765625px;
	left: 422.56666564941406px;
	width: 38px;
	height: 57px;
}

#h3-L3 {
    top: 277px;
	left: 348px;
	width: 43px;
	height: 42px;
}
#h4-L3 {
    top: 224px;
	left: 340px;
	width: 45px;
	height: 48px;
}
#h5-L3 {
    top: 297px;
	left: 263px;
	width: 37px;
	height: 33px;
}
#h6-L3 {
    top: 202px;
	left: 261px;
	width: 41px;
	height: 40px;
}
#h7-L3 {
    top: 679.6000061035156px;
	left: 716px;
	width: 35px;
	height: 42px;
}
#h8-L3 {
    top: 632.6000061035156px;
	left: 697px;
	width: 25px;
	height: 44px;
}
#h9-L3 {
    top: 680.6000061035156px;
	left: 641px;
	width: 32px;
	height: 42px;   
}
#h10-L3 {
    top: 627.6000061035156px;
	left: 612px;
	width: 38px;
	height: 49px;
	
}

#r301A {
    top: 211.26666259765625px;
	left: 88.06666564941406px;
	width: 109px;
	height: 133px;
}

#r301B {
    top: 347.6666717529297px;
	left: 95.66667175292969px;
	width: 98px;
	height: 101px;
}

#r301C {
    top: 457.6666717529297px;
	left: 97.66667175292969px;
	width: 96px;
	height: 63px;
}

#r301D {
    top: 598.3333282470703px;
	left: 99.66667175292969px;
	width: 95px;
	height: 60px;
}

#r301E {
    top: 661.6666717529297px;
	left: 97.66667175292969px;
	width: 97px;
	height: 58px;
}

#r301F {
    top: 383.6666717529297px;
	left: 223.6666717529297px;
	width: 100px;
	height: 72px;
}

#r301G {
    top: 385.6666717529297px;
	left: 326.6666717529297px;
	width: 91px;
	height: 72px;
}

#r301H {
    top: 460.6666717529297px;
	left: 223.6666717529297px;
	width: 100px;
	height: 71px;
}

#r301J {
    top: 459.6666717529297px;
	left: 325.6666717529297px;
	width: 97px;
	height: 72px;
}

#r303  {
    top: 103px;
	left: 722.6666717529297px;
	width: 87px;
	height: 63px;
} 

#r304 {
    top: 171px;
	left: 721.6666717529297px;
	width: 88px;
	height: 60px;
}

#r306 {
    top: 235.6666717529297px;
	left: 723.6666717529297px;
	width: 141px;
	height: 92px;
	
}

#r307 {
    top: 239.6666717529297px;
	left: 867.6666717529297px;
	width: 78px;
	height: 90px;
}

#r308 {
    top: 238.6666717529297px;
	left: 947.6666717529297px;
	width: 80px;
	height: 91px;
}

#r310 {
    top: 375.6666717529297px;
	left: 947.6666717529297px;
	width: 78px;
	height: 83px;
}

#r311 {
    top: 375.6666717529297px;
	left: 857.6666717529297px;
	width: 86px;
	height: 95px;
}

#r312 {
    top: 372.6666717529297px;
	left: 805.6666717529297px;
	width: 49px;
	height: 97px;
	
}

#r313 {
    top: 485.6666717529297px;
	left: 779.6666717529297px;
	width: 114px;
	height: 235px;
}