#h1-L5 {
    top: 172.1666717529297px;
	left: 300.8833312988281px;
	width: 85px;
	height: 33px;
}

#h2-L5 {
    top: 177.1666717529297px;
	left: 185.88333129882812px;
	width: 72px;
	height: 28px;
}

#h3-L5 {
    top: 235.1666717529297px;
	left: 314.8833312988281px;
	width: 71px;
	height: 34px;
	
}

#h4-L5 {
    top: 237.1666717529297px;
	left: 186.88333129882812px;
	width: 72px;
	height: 31px;
}

#h5-L5 {
    top: 298.1666717529297px;
	left: 316.8833312988281px;
	width: 69px;
	height: 27px;
	
}

#h6-L5 {
    top: 299.56666564941406px;
	left: 190.4499969482422px;
	width: 67px;
	height: 24px;
	
}

#h7-L5 {
    top: 357.3000030517578px;
	left: 316.4499969482422px;
	width: 69px;
	height: 31px;
}

#h8-L5 {
    top: 359.3000030517578px;
	left: 190.4499969482422px;
	width: 64px;
	height: 29px;
}

#h9-L5 {
    top: 539.3000030517578px;
	left: 318.4499969482422px;
	width: 66px;
	height: 30px;
	
}

#h10-L5 {
    top: 537.3000030517578px;
	left: 190.4499969482422px;
	width: 66px;
	height: 26px;
	
}

#h11-L5 {
    top: 618.3000030517578px;
	left: 318.4499969482422px;
	width: 66px;
	height: 27px;
}

#h12-L5 {
    top: 619.3000030517578px;
	left: 190.4499969482422px;
	width: 65px;
	height: 25px;
}

#h13-L5 {
    top: 578.3000030517578px;
	left: 699.4499969482422px;
	width: 69px;
	height: 23px;
}

#h14-L5 {
    top: 619.3000030517578px;
	left: 702.4499969482422px;
	width: 66px;
	height: 22px;
	
}

#h15-L5 {
    top: 579.3000030517578px;
	left: 511.4499969482422px;
	width: 74px;
	height: 22px;
}

#h16-L5 {
    top: 618.3000030517578px;
	left: 512.4499969482422px;
	width: 79px;
	height: 23px;   
}

#r501M {
	top: 133.26666259765625px;
	left: 37.68333435058594px;
	width: 112px;
	height: 179px;
}
#r501L {
	top: 319.26666259765625px;
	left: 38.26666259765625px;
	width: 114px;
	height: 78px;
	
}
#r501K {
	top: 409.8500061035156px;
	left: 37.26666259765625px;
	width: 113px;
	height: 93px;
}
#r501J {
	top: 568.8500061035156px;
	left: 40.26666259765625px;
	width: 110px;
	height: 71px;
}
#r501C {
	top: 194.85000610351562px;
	left: 386.26666259765625px;
	width: 110px;
	height: 79px;
}
#r501D {
	top: 275.8500061035156px;
	left: 386.26666259765625px;
	width: 107px;
	height: 77px;
}
#r501E {
	top: 358.8500061035156px;
	left: 388.26666259765625px;
	width: 106px;
	height: 74px;
}
#r501F {
	top: 435.8500061035156px;
	left: 386.26666259765625px;
	width: 110px;
	height: 77px;
}
#r501G {
	top: 518.8500061035156px;
	left: 387.26666259765625px;
	width: 107px;
	height: 74px;
}
#r501H {
	top: 596.8500061035156px;
	left: 388.26666259765625px;
	width: 108px;
	height: 80px;
}

#r501B {
	top: 158.35000610351562px;
	left: 541.2666625976562px;
	width: 91px;
	height: 117px;
}
#r501A {
	top: 160.35000610351562px;
	left: 637.2666625976562px;
	width: 99px;
	height: 119px;
}
#rUCA {
    top: 40.850006103515625px;
	left: 684.2666625976562px;
	width: 151px;
	height: 118px;
}
#r502 {
    top: 162.35000610351562px;
	left: 812.2666625976562px;
	width: 79px;
	height: 110px;
}
#r503 {
    top: 160.35000610351562px;
	left: 891.2666625976562px;
	width: 87px;
	height: 111px;
}
#r504 {
    top: 160.35000610351562px;
	left: 981.2666625976562px;
	width: 91px;
	height: 114px;
}
#r506 {
    top: 319.3500061035156px;
	left: 996.2666625976562px;
	width: 76px;
	height: 105px;
}
#r507 {
    top: 319.3500061035156px;
	left: 915.2666625976562px;
	width: 77px;
	height: 104px;
}
#r508 {
    top: 315.3500061035156px;
	left: 820.2666625976562px;
	width: 95px;
	height: 77px;
	
}
#r510A {
	top: 395.3500061035156px;
	left: 820.2666625976562px;
	width: 96px;
	height: 68px;
}
#r510B {
	top: 463.3500061035156px;
	left: 823.2666625976562px;
	width: 93px;
	height: 76px;
}
#r510C {
	top: 540.8500061035156px;
	left: 823.2666625976562px;
	width: 105px;
	height: 81px;
}
#r510D {
	top: 619.8500061035156px;
	left: 824.2666625976562px;
	width: 104px;
	height: 107px;
}