#h1-L2 {
    top: 586px;
    left: 501px;
    width: 50px;
    height: 20px;
}

#h2-L2 {
    top:  615px;
    left: 502px;
    width: 50px;
    height: 20px;
}

#h3-L2 {
    top: 586.9499969482422px;
	left: 573.3500061035156px;
	width: 49px;
	height: 16px;
}

#h4-L2 {
    top: 614px;
	left: 574.8000030517578px;
	width: 48px;
	height: 15px;
}

#h5-L2 {
    top: 587px;
    left: 646.4166717529297px;
    width: 50px;
    height: 16px;
}

#h6-L2 {
    top: 614px;
    left: 643.4166717529297px;
    width: 52px;
    height: 14px;
}

#h7-L2 {
    top: 556.6333312988281px;
	left: 156.51666259765625px;
	width: 70px;
	height: 19px;
}

#h8-L2 {
    top: 586.6333312988281px;
	left: 157.51666259765625px;
	width: 68px;
	height: 15px;
}

#h9-L2 {
    top: 557.6333312988281px;
	left: 66.51666259765625px;
	width: 72px;
	height: 16px;
}

#h10-L2 {
    top: 586.6333312988281px;
	left: 66.51666259765625px;
	width: 74px;
	height: 15px;
}

#h11-L2 {
    top: 473.6666717529297px;
	left: 181px;
	width: 56px;
	height: 24px;
}

#h12-L2 {
    top: 450.73333740234375px;
	left: 238.39999389648438px;
	width: 47px;
	height: 23px;
}

#h13-L2 {
    top: 376.73333740234375px;
	left: 188.39999389648438px;
	width: 48px;
	height: 19px;
	
}

#h14-L2 {
    top: 358.73333740234375px;
	left: 239.39999389648438px;
	width: 45px;
	height: 16px;
	
}

#h15-L2 {
    top: 289.6999969482422px;
	left: 92.13333129882812px;
	width: 52px;
	height: 27px;
}

#h16-L2 {
    top: 240.6999969482422px;
	left: 92.13333129882812px;
	width: 58px;
	height: 27px;
}

#h17-L2 {
    top: 241.6999969482422px;
	left: 189.13333129882812px;
	width: 51px;
	height: 24px;
	
}

.mapBtn {
    position: absolute;
    border: 2px solid black;
	border-radius: 5px;
    background-color: transparent;
}

#h18-L2 {
    top: 188.6999969482422px;
	left: 237.13333129882812px;
	width: 56px;
	height: 20px;
	
}

#h19-L2 {
    top: 174.6999969482422px;
	left: 350.1333312988281px;
	width: 45px;
	height: 20px;
}


#r201A {
    top: 237.06666564941406px;
	left: 284.06666564941406px;
	width: 80px;
	height: 72px;
}

#r202 {
    top: 241.06666564941406px;
	left: 366.06666564941406px;
	width: 78px;
	height: 69px;
}

#r203 {
    top: 214.6999969482422px;
	left: 469.25px;
	width: 75px;
	height: 62px;
}

#r204 {
    top: 216.6999969482422px;
	left: 547.25px;
	width: 65px;
	height: 57px;
}