* {
    font-family: 'Roboto', sans-serif;
}

.circle {
    width:  30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid grey;
}

#red {
    background-color: rgba(255,0,0,0.5);
}

#yellow {
    background-color: rgba(255,255,0, 0.5);
}

#green {
    background-color: rgba(0, 255, 0, 0.5)
}

#grey {
    background-color: rgba(0,0,0, 0.1);
}