.scrollable-scheduler {
  height: 100%;
  width: 100%;
}

/* 'day' element below the 'name' in the room column */
.css-1d1h06e .rs__cell:not(.rs__time) {
  display: none;
}

/* 'time' cell of room column */
.css-1gyej37 .rs__cell.rs__time {
  border-top: none;
  border-right: none;
  border-left: none;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

/* 'name' element of room column */
.css-1mrufi div {
  border: none;
}
/* text of room 'name' element */
.css-konndc-MuiListItemText-root {
  justify-self: center;
}

/* the cell that contains both avatar and name of room */
.MuiListItem-root.MuiListItem-gutters.MuiListItem-padding.css-1sfpplk-MuiListItem-root {
  display: grid;
  justify-content: center;
}
